.score {
    display: flex;
    gap: 50px;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.score-current-score {
    border-right: 1px solid white;
    padding-right: 50px;
}

.score-current-score, .score-best-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}