.score {
    display: flex;
    gap: 50px;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: var(--font-family);
    box-shadow: var(--box-shadow);
    font-size: large;
}

.score > div p:last-of-type {
    font-size: xx-large;
}

.score-current-score {
    border-right: 1px solid white;
    padding-right: 50px;
}

.score-current-score, .score-best-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-current-score-number.win {
    color: green;
}